{% extends "layout.html" %} {% block body %}


<div class="container">

<h2>Book:</h2>
<li><a href="https://www.google.co.kr/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjXm5fghLHVAhUMf7wKHfn3AgcQFggsMAA&url=https%3A%2F%2Fweb.stanford.edu%2F~hastie%2FPapers%2FESLII.pdf&usg=AFQjCNHFMXlMYxlIVCzocd73Sz7CI4LTqw">The Elements of Statistical Learning</a></li>
<!--
<li><a href="https://www.dropbox.com/s/3b1c8l76e3af1js/Data%20Mining%20Techniques%20For%20Marketing%20Sales%20And%20Customer%20Relationship%20Management%202Ed.pdf?dl=0">Data Mining Techniques For Marketing Sales And Customer Relationship Management 2Ed</a></li>
<li><a href="https://www.dropbox.com/s/0lww9drsh9totav/MATLAB_implementations_and_applications_of_the_self_organizing_map.pdf?dl=0">MATLAB_implementations_and_applications_of_the_self_organizing_map</a></li>
-->

<br>

<h2>SlideShare:</h2>
<li><a href="https://www.slideshare.net/secret/ARiOpEE19mx1uh">Customer Segmentation Tutorial</a></li>

</div>

          
{% endblock %}
  
