{% extends "layout.html" %} {% block body %}


<body style="font-size: 150%; line-height: 200%">
	<div class="container">
	<div class="col-md-10">

	<h4>kaggle project | <a href="https://www.kaggle.com/c/nyc-taxi-trip-duration">link</a> </h4>
	<hr>
   
   <div>
	<img src="https://ak8.picdn.net/shutterstock/videos/4101730/thumb/1.jpg?i10c=img.resize(height:160)" style="width: 100%;">
   </div>
	<br>
	kaggle launched a new type of Kaggle competition. 
	Instead of awarding prizes to the top finishers on the leaderboard, 
	this playground competition's prize pool of $30,000 rewards collaboration and collective learning!

	In the New York City Taxi Trip Duration competition, 
	we're challenging you to build a model that predicts 
	the total ride duration of taxi trips in New York City.
	<br>
	<br>
	You can win bi-weekly or final deadline awards for: 
	<br>
	1. publishing additional training data that other participants find valuable or 
	<br>
	2. sharing insightful kernels with the community.

	</div>
	</div>
</body>

<br>
<br>


{% endblock %}



















